
<table>
  <thead>
    <tr>
      <th colspan="3" class="file-name">
        {{name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="line-number">
        <pre>{{linesString}}</pre>
      </td>
      <td rowspan="{{linesCount}}">
        {{#ember-highlight-code language=language addLineNumbers=false}}{{code}}{{/ember-highlight-code}}
      </td>
    </tr>
  </tbody>
</table>
