article {
  padding: 3em 0;

  .title {
    color: #dd6a58;
    font-size: 2em;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.2;
    margin: 0 0 0.75em;
    font-weight: bold;
  }

  p {
    margin: 1.5em 0 0.75em;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h3 {
    color: #dd6a58;
  }

  code {
    background-color: #F8E7CF;
    border-radius: 3px;
    font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    margin: 0 0.1em;
    -webkit-font-feature-settings: "kern", "tnum";
    -moz-font-feature-settings: "kern", "tnum";
    -ms-font-feature-settings: "kern", "tnum";
    font-feature-settings: "kern", "tnum"
  }

  .highlight {
    width: 100%;
    .ember-highlight-code {
      border-radius: 0 0 3px 3px;
    }
    .file-name {
      border-radius: 3px 3px 0 0;
      display: block;
      background-color: #1e1e1e;
      color: lightgrey;
      margin: 0;
      margin-bottom: -1.1em;
      padding: 5px 10px;
      font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  pre.ember-highlight-code span.line-number {
    position: absolute;
    width: 47px;
    text-align: right;
    border-right: 1px solid #ddd;
    margin: 0px 0px 0px -55px;
    padding: 0px 5px 0px 0px;
    color: #aaa;
  }
}

@media screen and (min-width: 53.75em) {
  article {
    float: left;
    display: block;
    margin-right: 0;
    width: 70.14568%;
  }
}
