# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

.idea

# gh-pages
/app
/config
/dia
/dist
/public
/tests
/vendor
.editorconfig
.ember-cli
.eslintrc.js
.travis.yml
.watchmanconfig
bower.json
ember-cli-build.js
packages.json
README.md
testem.js
