<div class="modal">
  <div class="title">
    {{yield (hash title=(component "several-dynamic-blocks/modal-header"))}}
  </div>
  <div class="content">
    {{yield (hash content=(component "several-dynamic-blocks/modal-content"))}}
  </div>
</div>