{{#content-article as |article|}}
  {{#article.title}}
    What is it?
  {{/article.title}}
  {{#article.content}}
    <p>
      This is a collection of recipes-patterns for the cooking of <a href="{{model.contextualComponentLink}}" target="_blank">contextual components</a>
    </p>
  {{/article.content}}
{{/content-article}}

{{outlet}}
